@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/** General style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#container {
    box-shadow: 2px -1px 10px 2px #333;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
}

i {
    font-size: 1.5rem;
    margin: .5rem;
}

h1 {
    text-align: center;
    text-transform : uppercase;
    width: 100%;
    font-size: 4rem;
    position: absolute;
    top:3rem;
}

h1,#nameList {
    color: #333333;
    text-align: center;
}
/* Font-size font of the input (Name...) */
#nameList {
    font-size: 20px;
    padding: 1rem;
    text-align: left;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

/* Design list */
#containerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5rem;
    margin-right: 5rem;
}

.divList {
    width: 60vh;
    margin-top: 10rem;
    margin-bottom:4rem;
}

.titleList {
    line-height: 4.5rem;
    color: #828282;
    background-color:white;
    opacity: 0.5;
    padding: 0.5rem;
    text-align: left;
    margin: 1rem;
}

/* Design btn clear and add Items */
button,#btnClear {
    border-radius: 1rem;
    text-transform: capitalize;
    border: 2px solid #95d6b7;
    color: #95d6b7;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#btnClear {
    position: relative;
    margin-top: 3rem;
}

/* Design containerIcons */
#containerIcons {
    width: 90%;
    margin: 3rem auto;
}
.check-circle{
    color: #95d6b7
}

.edit{
    color: #45bfe7;
}

.x-circle{
    color: #dc5350;
}

#input{
    display: flex;
    justify-content: center;
}

input[type="text"]{
    border-radius: .8rem 0 0 .8rem;
    margin-left: 67rem;
}

input[type="text"]:focus{
    outline: none;
    border-color: #95d6b7;
    box-shadow: 0 0 10px #95d6b7;
}

input[type="submit"]{
    width: 8rem;
    color: #95d6b7;
    border-radius: 0 .8rem .8rem 0;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

input[type="submit"], input[type="text"]{
    height: 3.5rem;
    border: 1px solid #95d6b7;
}

input[type="submit"], #clear, i{
    cursor: pointer;
}

