@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/** General style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform : uppercase;
    font-size: 4rem;
    position: absolute;
    top:3rem;
}

h1,#nameList {
    color: #333333;
    text-align: center;
}

#divForm {
    margin-top: 15rem;
}

/* Font-size font of the input (Name...) */
#nameList {
    font-size: 20px;
    padding: 1rem;
    text-align: left;
}

/* Design list */
#containerList {
    background-color: rgba(255, 255, 255, 0.1);
    width: 68vw;
    margin-top: 2rem;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.updateList{
    display: flex;
    width: 60vw;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.updateList input {
    width: 100%;
    height: 3rem;
    color: #828282;
    padding: 0.5rem;
    text-align: left;
    font-size: 2.5rem;
}

.updateList input:focus {
    outline: none;
    border-color: #828282;
    box-shadow: 0 0 10px #828282;
}

.titleList {
    color: #828282;
    padding: 0.5rem;
    text-align: left;
    margin: 1rem;
}

.list div {
    background-color: #ffffff;
    opacity: 0.5;
}

/* Desing icons */
.icons {
    padding: 1rem;
}

.list i {
    font-size: 2rem;
    margin: .5rem;
}
.list i:hover {
    box-shadow: 0 0 10px #828282;
}

/* Design btns */
#btnClear {
    background-color: transparent;
    border: 2px solid #95d6b7;
    border-radius: 1rem;
    color: #95d6b7;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
}

#buttonGraph {
    background-color: transparent;
    border: 2px solid #95d6b7;
    border-radius: 1rem;
    color: #95d6b7;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
}

input[type="text"] {
    border-radius: .8rem 0 0 .8rem;
}

input[type="text"]:focus {
    outline: none;
    border-color: #828282;
    box-shadow: 0 0 10px #828282;
}

input[type="submit"] {
    width: 8rem;
    color: #95d6b7;
    border-radius: 0 .8rem .8rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input[type="submit"], input[type="text"] {
    height: 3.5rem;
    border: 1px solid #95d6b7;
}

input[type="submit"], #btnClear, i {
    cursor: pointer;
}

/* Resize canvas confetti */
#divCanvas {
    float: left;
    margin-top: 1rem;
    height: 25rem;
    overflow: hidden;
}

/** Design graph **/
body> #divGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29rem;
    margin-left: 26rem;
    margin-top: 10rem;
    width: 59%;
}
/** Responsive mode **/
@media screen and (max-width: 1066px) {

    #divGraph {
        margin-top: 6rem;
        margin-left: 22rem;
    }

}

@media screen and (max-width: 295px) {

    body> #divGraph {
        margin-left: 3rem;
        margin-top: -7rem;
    }

    #divCanvas {
        height: 9rem;
    }

}

@media screen and (max-width: 410px) {

        #nameList {
            font-size: 12px;
        }

        input[type = submit] {
            width: 6.5rem;
        }

        .list {
            width: 65vw;
        }

        #btnClear,#buttonGraph {
            margin-top: 2.5rem;
            padding: 0.8rem;
            margin-bottom: 1rem;
        }

        body> #divGraph {
            margin-left: 6rem;
            margin-top: -4rem;
        }

        #divCanvas {
            height: 13rem;
        }
}


@media screen and (max-width: 240px) {

    #nameList {
        font-size: 9px;
        font-weight: bold;
    }

    input[type = submit] {
        width: 6rem;
    }

    #divGraph {
        display: none;
    }
}